node_modules
# Keep environment variables out of version control
.env

/generated/prisma
dist/index.js
dist/index.js.map
dist/controllers/authController.js
dist/controllers/authController.js.map
dist/controllers/musicController.js
dist/controllers/musicController.js.map
dist/generated/prisma/client.d.ts
dist/generated/prisma/client.js
dist/generated/prisma/default.d.ts
dist/generated/prisma/default.js
dist/generated/prisma/edge.d.ts
dist/generated/prisma/edge.js
dist/generated/prisma/index-browser.js
dist/generated/prisma/index.d.ts
dist/generated/prisma/index.js
dist/generated/prisma/package.json
dist/generated/prisma/query_engine-windows.dll.node
dist/generated/prisma/schema.prisma
dist/generated/prisma/wasm.d.ts
dist/generated/prisma/wasm.js
dist/generated/prisma/runtime/edge-esm.js
dist/generated/prisma/runtime/edge.js
dist/generated/prisma/runtime/index-browser.d.ts
dist/generated/prisma/runtime/index-browser.js
dist/generated/prisma/runtime/library.d.ts
dist/generated/prisma/runtime/library.js
dist/generated/prisma/runtime/react-native.js
dist/generated/prisma/runtime/wasm-compiler-edge.js
dist/generated/prisma/runtime/wasm-engine-edge.js
dist/middleware/authMiddleware.js
dist/middleware/authMiddleware.js.map
dist/models/authDto.js
dist/models/authDto.js.map
dist/models/musicDto.js
dist/models/musicDto.js.map
dist/repositories/authRepository.js
dist/repositories/authRepository.js.map
dist/repositories/musicRepository.js
dist/repositories/musicRepository.js.map
dist/routes/authRoute.js
dist/routes/authRoute.js.map
dist/routes/musicRoute.js
dist/routes/musicRoute.js.map
dist/services/authService.js
dist/services/authService.js.map
dist/services/musicServise.js
dist/services/musicServise.js.map
